$primary:       #1D89E4;
$secondary:     #37484F;
$success:       #57D78C;
$info:          #43A5F6;
$warning:       #F5AF3F;
$danger:        #E84C3D;
$light:         #566F7D;
$dark:          #37484F;

$body-bg:       $dark;