@import 'partials/colors';
@import 'partials/typography';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'partials/menu';
@import 'partials/accordion';

.container {
  @media (min-width: 992px) { transition: all .5s ease; }
  @media (min-width: 768px) { transition: all .5s ease; }
  @media (min-width: 576px) { transition: all .5s ease; }
}

#grid {
  padding-left: 75px;
  padding-bottom: 100px;
}

.title-page {
  text-shadow: 0px 0px 6px $primary;
}

.bar-top {
  background: $darkness;
  margin-left: 60px;
  max-height: 120px;
  overflow: hidden;
  position: fixed;
  width: calc(100% - 60px);
  z-index: 1;

  .date {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }

  @media (max-width: 991.98px) {
    h1 {
      font-size: 2.7rem;
    }
  }
}

.accordion {
  padding-top: 100px;

  @media (max-width: 767.98px) {
    padding-top: 140px;
  }
}

.btn-to-top {
  bottom: 10px;
  cursor: pointer;
  position: fixed;
  right: 20px;

  .fa-angle-up {
    color: $primary;
    font-size: 3rem;
  }
}

.date {
  color: $primary;
  font-size: 1.3rem;
  text-shadow: 0px 0px 6px $primary;
}

// Mouse Effect
.trail {
  position: absolute;
  height: 3px;
  width: 3px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px $primary;
  background: $primary;
  pointer-events: none;
}
