@import 'partials/colors';
@import 'partials/typography';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'partials/menu';
@import 'partials/accordion';

.container {
  @media (min-width: 992px) { transition: all .5s ease; }
  @media (min-width: 768px) { transition: all .5s ease; }
  @media (min-width: 576px) { transition: all .5s ease; }
}

#grid {
  padding-left: 75px;
  padding-bottom: 100px;
}

.title-page {
  text-shadow: 0px 0px 6px $primary;
}

.btn-to-top {
  position: fixed;
  right: 20px;
  bottom: 10px;
  cursor: pointer;

  .fa-angle-up {
    font-size: 3rem;
    color: $primary;
  }
}

.date {
  color: $primary;
  font-size: 1.3rem;
  text-align: center;
  text-shadow: 0px 0px 6px $primary;
}
